// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding: 3.5rem 0 8rem 0;
  overflow-x: hidden;
  overscroll-behavior: none;
}

h1,
h2,
h3 {
  font-family: $font-family-serif;
  font-weight: normal;
  color: $green;
  display: inline-flex;

  span {
    font-family: $font-family-sans-serif;
    color: #fff;
    background: $green;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 0.5rem;
    margin: 0 auto 1rem auto;
    padding: 0.25rem 2rem;

    .home & {
      color: $black;
      background: none;
      margin: 0 auto;
    }
  }
}

h1 {
  font-size: 55px;
  line-height: 47px;
  margin-bottom: 1.5rem;
  text-align: center;
  flex-direction: column;
  position: relative;
  z-index: 3;

  @include media-breakpoint-down(sm) {
    font-size: 68px;
    line-height: 60px;
  }

  .home & {
    font-size: 76px;
    line-height: 76px;
  }
}

h2 {
  font-size: 24px;
  color: $black;
  margin-bottom: 2rem;
}

h4 {
  font-weight: normal;
}

p,
li {
  font-family: 'Visby Demi', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #404040;
  margin-bottom: 3.5rem;
}

ul {
  margin: 0 0 2rem 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin-bottom: 1rem;
  color: $green;

  strong {
    color: $black;
  }
}

.btn-link {
  color: $green;
}

.admin_only {
  color: #a4a4a4;
  width: 80%;
  justify-content: center;
  margin: 0 auto 1rem auto;
  display: flex;
  padding: 1rem;
  border: solid 2px #a4a4a4;
  border-radius: 4px;

  @include slowfade(0.2);

  &:hover {
    color: #777;
    border: solid 2px #777;

    @include slowfade(0.2);
  }
}

a:hover {
  text-decoration: none;
}

//Forms
input,
textarea {
  border: none;
  color: $green;
  font-family: 'Pitch', sans-serif;
  font-size: 19px;
}

.container {
  max-width: 70%;
}

//Navigation
.navbar {
  position: fixed;
  width: 80%;
  z-index: 100;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  .markets i {
    color: #E26125;
  }
  
  .products i {
    color: $green;
  }

  .market_days i {
    color: #FCDF02;
  }

  button {
    outline: 0;
    border: none;
    background: #fff;
    font-size: 20px;
    position: absolute;
    left: unset;
    right: 5px;
    transform: rotate(0deg);

    @include slowfade(0.2);
  }

  a {
    color: $black;
    font-size: 16px;
    padding: 0.35rem;

    @include media-breakpoint-down(sm) {
      padding: 0.5rem 0.35rem
    }
  }

  .hamburg {
    opacity: 0;
    position: absolute;
    right: 0.75rem;
    border-left: solid 2px $light-gray;
    padding-left: 1rem;
    height: 100%;
    z-index: -2;
    display: flex;
    align-items: center;
  }

  .navbar-collapse {
    position: relative;
    display: flex;
    width: 4%;
    box-shadow: $box-shadow-dark;
    padding: 0.5rem;
    height: 60px;
    box-shadow: 0 0 21px -5px rgba(203,203,203,0.72);
    border-radius: 0 8px 8px 0;
    left: -95%;
    @include slowfade(0.2);


    &.show {
      background: #fff;
      left: 10%;
      justify-content: center;

      @include media-breakpoint-down(sm) {
        left: 0;
        height: auto;
      }
      
      button {
        position: absolute;
        left: 0.7rem;
        right: unset;
        border-left: solid 2px $light-gray;
        padding-left: 1rem;
        height: 100%;
        transform: rotate(180deg);
  
        @include slowfade(0.2);
      }

      .hamburg {
        opacity: 1;
        z-index: 2;
      }
    }
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

    @include media-breakpoint-down(sm) {
      width: 75%;
      flex-direction: column;
    }

    li {
      margin: 0;

      @include media-breakpoint-down(sm) {
        height: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.top-right {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

// Primary Header
header {
  margin: 0 0 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 2px $light-gray;
  position: relative;

  .logo {
    max-width: 72px;
    filter: drop-shadow(0 0 0.75rem rgba(0,0,0,0.2));
    margin-bottom: -2.5rem;
    z-index: 2;
  }

  &:after {
    content: "";
    display: block;
    width: 120px;
    height: 72px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -60px;
    margin-bottom: -35px;
    z-index: 1;
  }

  .date {
    position: relative;
    z-index: 2;
    display: flex;
    color: $green;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: -1.5rem;

    .year,
    .month {
      transform: rotate(270deg);
    }

    .year {
      margin-left: -0.65rem;
    }

    .month {
      margin-right: 0.1rem;
    }
  
    .day {
      font-size: 47px;
      line-height: 40px;
      border: solid 3px $green;
      // width: 52px;
      padding: 0 0.2rem;
      height: 52px;
      display: flex;
      justify-content: center;
    }
  }
}

//List Cards
.list-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem;

  h4 {
    font-size: 16px;
    width: 6rem;
    text-align: left;
    color: $green;

    &.product {
      margin-right: auto;
      text-align: left;
    }
  }
}

.card-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-flow: wrap;
  justify-content: space-between;

  .home & {
    display: unset;
  }
}

.card {
  box-shadow: $box-shadow;
  border: none;
  margin-bottom: 1.15rem;
  font-size: 16px;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 8px;
  height: 4rem;
  width: 100%;

  &.half {
    width: calc(50% - 0.75rem);
    display: inline-flex;
  }

  @include slowfade();

  a {
    color: $green;
    font-weight: normal;
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;

    .actual_revenue {
      color: $black;
      margin-left: 5px;
      font-size: 14px;
    }
  }

  strong {
    color: $black;
    font-size: 14px;
    font-weight: normal;
    padding: 0 1.5rem 0 0;
    margin: 2px 24px 2px 0;
    border-right: $vertical-pipe;
  }

  i {
    margin-left: auto;
    font-size: 16px;
    @include slowfade();
  }

  label {
    padding-right: 1.5rem;
    margin: 2px auto 2px 0;
    line-height: normal;
    color: $black;
    text-align: left;

    .setup & {
      height: 100%;
      align-items: center;
      display: inline-flex;
    }

    &:focus {
      outline: none;
    }
  }

  input {
    display: inline-flex;
    align-self: center;
    height: 100%;
    border-left: $vertical-pipe;
    padding-left: 1.5rem;

    &[type=number] {
      width: 6.5rem;
      text-align: center;
    }

    &[type=checkbox] {
      border: solid 2px $light-gray;
      display: flex;
      width: 1rem;
      height: 1rem;
      margin-left: 0.5rem;
    }
  }

  .setInput {
    display: flex;
    align-items: center;
    height: 100%;
    border-left: $vertical-pipe;
    padding: 0 1.5rem;
    width: 6rem;
    justify-content: center;
    color: $black;
  }

  &.large {
    height: 10rem;
    flex-direction: column;
    align-items: flex-start;

    label {
      height: auto;
      margin: 1rem 0 0.5rem 0;
    }

    textarea {
      margin-bottom: 1rem;
      width: 100%;
      font-size: 16px;
    }
  }

  &.small {
    width: 70%;

    input[type=number] {
      width: 45%;
    }
  }

  &.revenue {
    justify-content: space-between;

    label {
      margin-right: 0;
      padding-right: 0.5rem;
    }

    input {
      padding-left: 2rem;
      text-align: left;
    }
  }

  .prefix {
    display: inline-flex;
    width: 1rem;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: -1.5rem;
    z-index: 10;
  }

  &:hover{
    box-shadow: $box-shadow-dark;

    i {
      font-size: 15px;
      @include slowfade(0.2);
    }

    @include slowfade();
  }
}

// Product Table
.show table,
.setup table {
  width: 100%;

  td,
  th {
    padding: 1.25rem 0.5rem;
    font-size: 16px;
    font-weight: normal;
  }

  tr {
    border-bottom: solid 2px $light-gray;
  }

  th {
    color: $green;
  }
}

.create-markets-table {

  input[type=date] {
    font-size: 14px;
  }

  tr.product-head {
    border: none;
    
    td {
      padding-bottom: 0.25rem;
    }
  }

  tr.inputs {
    border-bottom: none;

    td {
      padding-top: 0;
      padding-bottom: 0;
      height: 100%;
      
      &:nth-of-type(1) input {
        border: none;
      }

      input {
        width: 100%;
        padding: 1rem 0;
      }
    }
  }

  .card {
    display: table-row;
  }
}

section.products {
  margin: 2rem 0 4rem 0;
}

form.market_day_edit button,
form.edit button,
a.button,
.setup button.save,
.authentication form button {
  position: fixed;
  bottom: 1.3rem;
  right: 1rem;
  z-index: 4;
  background: $green;
  color: #fff;
  border-radius: 26px;
  font-size: 18px;
  padding: 0.75rem 2.25rem;
  outline: 0;
  border: none;
}

// Footer
footer {
  height: 95px;
  background: #fff;
  box-shadow: $box-shadow;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;

  .util {
    color: $black;
    font-size: 22px;
    padding: 1rem 0 1rem 2rem;
    position: relative;
    padding-right: 2rem;
    border-right: $vertical-pipe;


    &.notes_trigger {
      font-size: 24px;
    }

    &.has_notes::after {
      content: "";
      width: 11px;
      height: 11px;
      border-radius: 100%;
      background: $green;
      border: solid 2px #fff;
      position: absolute;
      top: 1.35rem;
      right: 1.75rem;
    }
  }

  #market_day_options,
  #product_options {
    position: absolute;
    bottom: 5rem;
    left: 1.5rem;
    background: #3B3B3B;
    border-radius: 6px;
    padding: 0 0.75rem 0.5rem 0.75rem;
    text-align: center;
    width: 14rem;

    &::after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: #3B3B3B;
      border-width: 10px;
      margin-left: -10px;
    }    

    .show & {
      left: 4.25rem;
    }

    .setup & {
      width: 15rem;

      &::after {
        left: 10%;
      }
    }

    button,
    a {
      color: #fff;
      background: none;
      border: none;
      padding: 1.25rem;
      width: 100%;
      font-size: 16px;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      i {
        margin-right: 0.5rem;
      }

      &.revert {
        border-bottom: solid 2px #272727;
      }
    }
  }
}


#notes {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 1;
  padding: 2rem 0 7rem 0;
  font-size: 16px;
  box-shadow: $box-shadow;

  strong {
    color: $green;
  }

  p {
    text-align: left;
    font-family: 'Pitch', serif;
  }
}

#additionalNav {
  position: absolute;
  right: -1rem;
  top: 4.5rem;
  flex-direction: column;
  text-align: center;
  background: #fff;
  box-shadow: $box-shadow-dark;
  padding: 1rem 1.5rem;
  z-index: 2;
  
  @include media-breakpoint-down(sm) {
    top: 108%;
    left: 0;
    right: 0;
  }

  &::before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
    opacity: 1;
  }  

  p {
    margin: 0 0 0.75rem 0;
    padding-bottom: 1rem;
    border-bottom: solid 2px $light-gray;
  }

  &.collapse,
  &.collapsing {
    flex-direction: column;
  }

  &.show {
    display: flex;
    flex-direction: column;
  }
}

// Print Styles

@media print {
  header {
    border: none;
    margin: 0;
    color: #000;
    justify-content: flex-start !important;
    display: inline-flex !important;
    padding-left: 15px;

    h1 {
      margin-bottom: 0.5rem;
      color: #000;
    }
  }

  h3 {
    position: relative;
    z-index: 1;
    color: #000;
    padding-bottom: 2rem;
    border-bottom: solid 2px #000;
  }

  .card {
    height: 2.5rem;
    font-size: 20px;
    padding: 0;
    color: #000;

    label {
      margin-right: 0;
      padding-right: 0.5rem;
      color: #000;

      &::after {
        content: ":";
      }
    }

    input,
    input[type=number] {
      text-align: center;
      width: auto;
      padding: 0.24rem;
      font-size: 24px;
      color: #000;
      border: solid 2px #000;
      height: 77%;
      display: flex;
      max-width: 2.5rem;
    }
  }

  .employee,
  .card.large,
  .list-head,
  .introduction {
    display: none !important;
  }

  #notes {
    position: static;
    padding: 0;

    div {
      max-width: 100% !important;
      flex: 0 0 100%;

      strong,
      p {
        color: #000;
      }
    }
  }

}